.image{
    flex: 1;
    /* display: flex; */
    /* margin: 0 3%; */
    align-content: space-around;
    justify-content: center;
}

.image img{
    max-width: 200px;
    height: auto;
    filter: brightness(0) invert(1);
}

@media(max-width: 1000px){
    .image img{
        max-width: 150px;;
    }   
}

@media(max-width: 575px){
    .image img{
        max-width: 150px;;
    }   
}