html, body, h1, h2, h3, h4, h5, h6 {
    font-family: var(--primary-font-family);
}

h1{
    font-weight:bold;
    font-size: var(--hero1);
    color: var(--primary)
}

h2{
    color: var(--primary);
    font-size: var(--hero3);
    font-weight: bold;
}

h3{
    font-weight: bold;
}

ul{
    padding-left: 20px;
        list-style: none; /* Remove default bullets */
}

  
  ul li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: red; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
  }

p, li{
    font-weight: bold;
    font-size: 14px;
}

.main{
    padding-top: 130px;
    width: 100%;
}

.blurb{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    max-width: 400px;
}

.banner{
    display: flex;
    margin: 0 10%;
}

.banner .blurb{
    max-width: 98%;
    display: flex;
    justify-content: center;
    margin: auto;
}

.feature{
    display: flex;
    padding: 5% 0% 0 0%;
    background-color: var(--neutral-lighter);
}

.feature h2{
    padding-left: 10px;
}

.stats{
    display: flex;
    flex-direction: column;
    background-color: var(--secondary);
    padding: 10% 0 0 0;
}


.statsBlurbRight, .statsBlurbLeft{
    max-width: 50%;
    width: 45%;
    align-self: flex-start;
}

.statsBlurbLeft h2{
    color: var(--primary-dark);
    font-size: var(--hero2);
    font-weight: bold;
    font-size: var(--hero1)
}

.statsBlurbRight h1{
    color: var(--primary-dark);
    font-size: 8em;
    font-weight: bold;
    margin: 0;
}

.statsBlurbRight h2{
    color: var(--neutral-lightest);
    font-size: 5em;
    font-weight: bold;
    margin:0;
}

.statsBlurbRight h3{
    font-weight: bold;
}

.statsContent{
    display: flex;
    margin: 0 5%;
    justify-content: center;
    height: 400px;
}
.form{
    display: flex;
    margin: 0 5%;
    /* width: 80%; */
    justify-content: center;
    padding: 10% 0;
}

.formImages{
    width: 30%;
    position: relative;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    border: black 1px solid;
}

.image{
      height: 100px;
      width: 100px;
}

.bannerButton{
    padding-left: 2%
}

.formBanner{
    display: flex;
    justify-content: right;
    
}

.icon{
    color: var(--primary)
}

@media(max-width: 769px){
    .banner, .feature, .statsContent, .form{
        flex-direction: column;
        margin-left: 0;
        margin-right: 0; 
    }

    .blurb, .statsBlurbLeft, .statsBlurbRight{
        width: 100%;
        max-width: 100%;
        padding: 0 10%;
    }

    .mobileFeatureBlurb{
        padding: 0;
    }

    .statsContent{
        height: auto;
    }

    .statsBlurbRight{
        text-align: center;
    }

}

@media(max-width: 800px){
    .statsBlurbRight h1{
        font-size: 6em;
        line-height: 80%;
    }
    
    .statsBlurbRight h2{
        font-size: 3.5em;
    }

    .statsBlurbRight h3{
        font-size: 20px;
    }
}