.carousel{
    display: flex;
    height: 100px;
}

.media{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content{
    padding: 50px 5%;
}

.arrow{
    display: flex;
    align-content: center;
}

.arrow img{
    max-width: 35px;   
}

.mobileCarouselItem{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 50px;
    width: 100%;
    height: auto;
}

.carouselMobileMedia{
    /* height: 125%; */
}

@media(max-width: 800px){
    .carousel{
        display: flex;
        /* height: 400px; */
    }


    .media{
        display: grid;
        grid-template-columns: auto auto;
        width: 100%;
    }
    
}